<section class="about" id="about" loading="lazy">
    <div class="container wrapperAbout">
        <article class="aboutCard aboutCardSimple">
            <div class="wrapperAboutTitle">
                <h2 class="aboutTitle"><span class="aboutTitleSpan">Simple</span> taxing</h2>
                <p class="textAboutTitle">3 steps to calculate your crypto tax report</p>
            </div>
            <ul class="cardAbout">
                <li class="aboutListCard">
                    <h3 class="titleListCard">Import transactions</h3>
                    <p class="textListCard">Import your transactions from your crypto exchanges, cold wallets</p>
                    <div class="iconNextToTextAbout">
                        <p class="numberMarkCard">1</p>
                    </div>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Preview your report</h3>
                    <p class="textListCard">Review your transactions and tag them. Review your transactions and tag them</p>
                    <div class="iconNextToTextAbout">
                        <p class="numberMarkCard">2</p>
                    </div>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Generate your report</h3>
                    <p class="textListCard">Get your ready report for the tax office. You can download it for yourself and edit it according to your requirements</p>
                    <div class="iconNextToTextAbout">
                        <p class="numberMarkCard">3</p>
                    </div>
                </li>
            </ul>
        </article>
        <article class="aboutCard aboutCardPortfolio">
            <div class="wrapperAboutTitle">
                <h2 class="aboutTitle"><span class="aboutTitleSpan">Portfolio</span> tracker</h2>
                <p class="textAboutTitle">Track your crypto portfolios thanks</p>
            </div>
            <ul class="cardAbout">
                <li class="aboutListCard">
                    <h3 class="titleListCard">Crypto Portfolio</h3>
                    <p class="textListCard">Data within a portfolio, such as the number of coins and their current value, are synchronized</p>
                    <div class="iconNextToTextAbout">
                        <img src="./img/aboutCardCase.png" alt="Case" width="64" height="64">                        
                    </div>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Coins</h3>
                    <p class="textListCard">Track coin prices and history. Analyze information about coins and predict their exchange rates</p>
                    <div class="iconNextToTextAbout">
                        <img src="./img/aboutCardBitcoin.png" alt="Btc" width="64" height="64">                        
                    </div>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Price Alerts</h3>
                    <p class="textListCard">By using the significant coin price change rule, you will be aware of important changes in the cryptocurrency market</p>
                    <div class="iconNextToTextAbout">
                        <img src="./img/aboutCardMark.png" alt="Mark" width="64" height="64">                        
                    </div>
                </li>
            </ul>    
        </article>
        <img class="aboutCardBublesTop" src="./img/bublesAboutRightTop.webp" alt="bubles" width="180" height="180">
    </div>
    <div class="aboutEllipse"></div>
    <img class="aboutBublesBackG" src="./img/bublesAboutBackG.webp" alt="bubles" width="100%" height="100%">
</section>