<section class="about" id="about">
    <div class="container wrapperAbout">
        <article class="aboutCard aboutCardSimple">
            <div class="wrapperAboutTitle">
                <h2 class="aboutTitle"><span class="aboutTitleSpan">Simple</span> taxing</h2>
                <p class="textAboutTitle">3 steps to calculate your crypto tax report</p>
            </div>
            <ul class="cardAbout">
                <li class="aboutListCard">
                    <h3 class="titleListCard">Import transactions</h3>
                    <p class="textListCard">Import your transactions from your crypto exchanges, cold wallets</p>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Preview your report</h3>
                    <p class="textListCard">Review your transactions and tag them. Review your transactions and tag them</p>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Generate your report</h3>
                    <p class="textListCard">Get your ready report for the tax office. You can download it for yourself and edit it according to your requirements</p>
                </li>
            </ul>
        </article>
        <article class="aboutCard aboutCardPortfolio">
            <div class="wrapperAboutTitle">
                <h2 class="aboutTitle"><span class="aboutTitleSpan">Portfolio</span> tracker</h2>
                <p class="textAboutTitle">Track your crypto portfolios thanks</p>
            </div>
            <ul class="cardAbout">
                <li class="aboutListCard">
                    <h3 class="titleListCard">Crypto Portfolio</h3>
                    <p class="textListCard">Data within a portfolio, such as the number of coins and their current value, are synchronized</p>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Coins</h3>
                    <p class="textListCard">Track coin prices and history. Analyze information about coins and predict their exchange rates</p>
                </li>
                <li class="aboutListCard">
                    <h3 class="titleListCard">Price Alerts</h3>
                    <p class="textListCard">By using the significant coin price change rule, you will be aware of important changes in the cryptocurrency market</p>
                </li>
            </ul>
        </article>
        </div>

</section>