<section class="advantages" id="advantages" loading="lazy">
    <div class="container">
        <h2 class="titleAdvantages">Advantages</h2>
        <ul class="wrapperAdvantages">
            <li class="advantagesCard">
                <div class="wrapperAdvantagesCardIcons">
                    <img src="./img/coinTether3d.webp" alt="" class="advantagesIconsTether" width="76" height="76">
                    <img src="./img/mainLogo3d.webp" alt="" class="advantagesIconsMainLogo" width="302" height="302">
                    <img src="./img/coinBitcoin3d.webp" alt="" class="advantagesIconsBitcoin" width="120" height="120">
                </div>
                <h3 class="titleAdvantagesCard">Own Independent Infrastructure</h3>
                <p class="textAdvantagesCard">A robust, self-reliant system ensuring continuous operation without relying on third-party services</p>
            </li>
            <li class="advantagesCard">
                <h3 class="titleAdvantagesCard">BigData</h3>
                <p class="textAdvantagesCard">Comprehensive collection, processing, and storage of rates, coin info, exchange data, and blockchain specifics for in-depth analysis</p>
            </li>
            <li class="advantagesCard">
                <h3 class="titleAdvantagesCard">Smart Data Calculation</h3>
                <p class="textAdvantagesCard">Streamlined computation for your tax obligations and portfolio analysis, making financial management a breeze</p>
            </li>
            <li class="advantagesCard">
                <h3 class="titleAdvantagesCard">Real-time Currency Rates</h3>
                <p class="textAdvantagesCard">Stay updated with live price feeds, ensuring you never miss a market move</p>
            </li>
            <li class="advantagesCard">
                <h3 class="titleAdvantagesCard">Community Communication & Support</h3>
                <p class="textAdvantagesCard">Ngage with our dedicated project community and enjoy unwavering support for all your queries</p>
            </li>
            <li class="advantagesCard">
                <h3 class="titleAdvantagesCard">Own Crypto-Community</h3>
                <p class="textAdvantagesCard">A vibrant, dedicated crypto community space, promoting knowledge exchange, networking, and collaboration</p>
            </li>
            <li class="advantagesCard advantagesCardNone">
                <h3 class="titleAdvantagesCard">Own Crypto-Community</h3>
                <p class="textAdvantagesCard">A vibrant, dedicated crypto community space, promoting knowledge exchange, networking, and collaboration</p>
            </li>
            <li class="advantagesCard advantagesCardNone">
                <h3 class="titleAdvantagesCard">Own Crypto-Community</h3>
                <p class="textAdvantagesCard">A vibrant, dedicated crypto community space, promoting knowledge exchange, networking, and collaboration</p>
            </li>
            <li class="advantagesCard">
                <h3 class="titleAdvantagesCard">Paid API for Developers</h3>
                <p class="textAdvantagesCard">A premium API suite catering to developers, offering tools and data access for enhanced functionalities</p>
                <div class="wrapperAdvantagesCardSVG">
                    
                </div>
            </li>
        </ul>
    </div>

    <div class="advantagesEllipse"></div>
</section>