<section class="comunicate" id="comunicate">
    <div class="container wrapperComunicate">
        <article class="wrapperComunicateTitle">
            <h2 class="titleComunicate"><span class="spanComunicateTitle">Comunicate</span>
            </span> in the cryptocurrency <span class="spanComunicateTitle">community</span>
            </span></h2>
            <p class="textTitleComunicate">Our micro-blogging platform is designed for people in the cryptocommunity. Share, get information from micro-blogs</p>
        </article>
        <div class="wrapperComunicateCard">
            <article class="titleTextComunicateCard">
                <div class="wrapperSvgComunicateCard">
                    <svg class="svgComunicateCard" width="120" height="120">
                        <use href="./img/icons.svg#icon-personComunicateCard"></use>
                    </svg>
                </div>
                <h3 class="titleComunicateCard">Get <span class="spanTitleComunicateCadr">Paid</span> Subscribers</h3>
                <p class="textComunicateCard">Don't let your quality content go unnoticed. With our platform, your insights can garner a dedicated following. Users can subscribe to your micro-blogs</p>
            </article>
        </div>
        <div class="wrapperComunicateCard">
            <article class="titleTextComunicateCard">
                <div class="wrapperSvgComunicateCard">
                    <svg class="svgComunicateCard" width="120" height="120">
                        <use href="./img/icons.svg#icon-chatComunicateCard"></use>
                    </svg>
                </div>
                <h3 class="titleComunicateCard">Micro-<span class="spanTitleComunicateCadr">bloggin</span></h3>
                <p class="textComunicateCard">Dive deep into the pulse of the cryptocurrency world with our tailored micro-blogging platform. Whether you're an experienced trader</p>
            </article>
        </div>
        <div class="wrapperComunicateCard">
            <article class="titleTextComunicateCard">
                <div class="wrapperSvgComunicateCard">
                    <svg class="svgComunicateCard" width="120" height="120">
                        <use href="./img/icons.svg#icon-markComunicateCard"></use>
                    </svg>
                </div>
                <h3 class="titleComunicateCard">Earn <span class="spanTitleComunicateCadr">Rewards</span></h3>
                <p class="textComunicateCard">Your expertise and insights are valuable. Why not get rewarded for it? Share your crypto-portfolio or make price predictions, and earn rewards</p>
            </article>
        </div>
    </div>

    <div class="comunicateEllipse"></div>
</section>