<footer class="footer" id="footer" loading="lazy">
    <div class="container wrapperFooter">
        <ul class="wrapperFooterLogoSocial">
            <li class="footerLogoText">
                <a href="/" class="mainLogo mainLogoFooter">
                    <svg class="svgMainLogo" width="67" height="67">
                        <use href="./img/icons.svg#icon-mainLogo"></use>
                    </svg> <span class="spanSvgMainLogoFooter">RexBag</span>
                </a>
            </li>
            <li class="wrapperfooterSocial">
                <a href="#" class="footerSocialLink"><svg class="svgSocialIcon" width="32" height="32">
                    <use href="./img/icons.svg#icon-telegram"></use>
                </svg></a>
                <a href="#" class="footerSocialLink"><svg class="svgSocialIcon" width="32" height="32">
                    <use href="./img/icons.svg#icon-facebook"></use>
                </svg></a>
                <a href="#" class="footerSocialLink"><svg class="svgSocialIcon" width="32" height="32">
                    <use href="./img/icons.svg#icon-twitter"></use>
                </svg></a>
                <a href="#" class="footerSocialLink"><svg class="svgSocialIcon" width="32" height="32">
                    <use href="./img/icons.svg#icon-mail"></use>
                </svg></a>
            </li>
        </ul>
        <ul class="footerNav">
            <li class="footerNavList">
                <h2 class="titleFooterNavList">About Us</h2>
                <a href="#" class="footerNavigationLink">Support</a>
                <a href="#" class="footerNavigationLink">Request Form</a>
                <a href="#" class="footerNavigationLink">Contact Support</a>
            </li>
            <li class="footerNavList">
                <h2 class="titleFooterNavList">About Us</h2>
                <a href="#" class="footerNavigationLink">Products</a>
                <a href="#" class="footerNavigationLink">Company</a>
                <a href="#" class="footerNavigationLink">About Us</a>
            </li>
            <li class="footerNavList">
                <h2 class="titleFooterNavList">About Us</h2>
                <a href="#" class="footerNavigationLink">Community</a>
                <a href="#" class="footerNavigationLink">Our blog</a>
                <a href="#" class="footerNavigationLink">Sitemap</a>
            </li>
            <li class="footerNavList">
                <h2 class="titleFooterNavList">About Us</h2>
                <a href="#" class="footerNavigationLink">Portfolio</a>
                <a href="#" class="footerNavigationLink">Tax for crypto-portfolio</a>
                <a href="#" class="footerNavigationLink">Crypto Prices</a>
            </li>
            <li class="footerNavList">
                <h2 class="titleFooterNavList">About Us</h2>
                <a href="#" class="footerNavigationLink">Terms of Use</a>
                <a href="#" class="footerNavigationLink">Cookie preferences</a>
                <a href="#" class="footerNavigationLink">Privacy Policy</a>
            </li>
            <li class="footerNavList">
                <h2 class="titleFooterNavList">About Us</h2>
                <a href="#" class="footerNavigationLink">Disclaimer</a>
                <a href="#" class="footerNavigationLink">Faq</a>
            </li>
        </ul>
    </div>
</footer>