<section class="getStart" id="getStart" loading="lazy">
    <div class="container wrapperGetStart">
        <h2 class="titleGetStart">Earn Rewards for Sharing Your <span class="spanTitleGetStart">Crypto-Portfolio</span> and <span class="spanTitleGetStart">Price Predicts</span></h2>
        <button class="getStartBtn" type="button">Get Started</button>
    </div>
    <div class="getStartEllipse"></div>
    <img class="getStartBublesBackg" src="./img/bublesGetStartBackG.webp" alt="bubles">
</section>