<header class="header" id="header">
  <div class="container wrapperHeader">
    <a href="/" class="mainLogo">
      <svg class="svgMainLogo" width="56" height="56">
        <use href="./img/icons.svg#icon-mainLogo"></use>
      </svg>
    </a>
    <nav class="headerNav">
      <ul class="headerNavList">
        <li class="li-headerNav">
          <a href="#" class="navigationHeaderLink">Home</a>
        </li>
        <li class="li-headerNav">
          <a href="#" class="navigationHeaderLink">Help</a>
        </li>
        <li class="li-headerNav">
          <a href="#" class="navigationHeaderLink">Privacy Policy</a>
        </li>
        <li class="li-headerNav">
          <a href="#" class="navigationHeaderLink">Terms of Use</a>
        </li>
      </ul>
    </nav>

    <div class="wrapperHeaderLogin">
      <button type="button" class="logInBtn">Log In</button>
      <button type="button" class="createProfileBtn">Create Profile
        <svg class="userCreateProfile">
          <use href="./img/icons.svg#icon-userCreateProfile"></use>
        </svg>
      </button>
    </div>

    <a href="#" class="burgerMenuLink">
      <svg class="burgerMenu" width="32" height="32">
        <use href="./img/icons.svg#icon-burgerMenu"></use>
      </svg>
    </a>

  </div>
</header>
