<header class="header">
  <div class="container wrapperHeader">
    <a href="/" class="mainLogo">
      <svg class="svgMainLogo">
        <use href="./img/icons.svg#icon-mainLogo"></use>
      </svg>
    </a>
    <nav class="headerNav">
      <ul class="headerNavList">
        <li class="li-headerNav"></li>
        <li class="li-headerNav"></li>
        <li class="li-headerNav"></li>
        <li class="li-headerNav"></li>
      </ul>
    </nav>

    <div class="wrapperHeaderLogin">
      <button class="logInBtn">Log In</button>
      <button class="createProfile">Create Profile
        <svg class="userCreateProfile">
          <use href="./img/icons.svg#icon-userCreateProfile"></use>
        </svg>
      </button>
    </div>

  </div>
</header>
