<section class="hero">
    <div class="container wrapperHero">

        <div class="wrapperMainHeroImg">
            <img src="./img/imgMainHero.webp" alt="Crypto">
        </div>

        <article class="wrapperMainTitle">

            <h1 class="mainTitle">Crypto portfolio 
            <span class="spanMainTitle">
                <img class="heroBitcoin3d" src="./img/coinBitcoin3d.webp" alt="Bitcoin" width="96" height="96">
                <img class="heroTether3d" src="./img/coinTether3d.webp" alt="Tether" width="48" height="48">
            </span>
            <span class="andMainTitle">& </span>price</h1>

            <p class="textMainHero">Track all crypto and portfolios in one app. <br>Тут можна про податки написати</p>

            <div class="wrapperRegistrationCoins">
                <button type="button" class="registrationBtn">
                    Registration
                </button>
                <a href="#" class="linkToCoinsList">
                    Coin List <svg class="svgCoinListArrowRight" width="24" height="24">
                        <use href="./img/icons.svg#icon-coinListArrowRight"></use>
                    </svg>
                </a>
            </div>

        </article>

    </div>

    <div class="heroEllipse"></div>
</section>