footer{
    margin-bottom: 220px;
}

.wrapperFooterLogoSocial{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanSvgMainLogoFooter{
    display: none;
}

.footerNav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
}

.footerNavList{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleFooterNavList{
    font-size: 18px;
    font-weight: 700;
}

.footerNavigationLink{
    color: #446783;
    font-size: 16px;
}

@media (min-width: 768px){

    .mainLogoFooter{
        display: flex;
        gap: 9px;
        align-items: center;
    }

    .wrapperFooter{
        display: flex;
        position: relative;
    }

    .wrapperFooterLogoSocial{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 24px;
    }

    .footerNav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 32px;  
        position: absolute;
    }

    .footerNavList:first-child { grid-area: 1 / 3 / 2 / 4; }
    .footerNavList:nth-child(2) { grid-area: 1 / 4 / 2 / 5; }
    .footerNavList:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
    .footerNavList:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
    .footerNavList:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }
    .footerNavList:last-child { grid-area: 2 / 4 / 3 / 5; }

    .spanSvgMainLogoFooter{
        display: block;
        font-size: 48px;
        color: #fff;
    }
}

@media (min-width: 1280px){

    .footer{
        margin-bottom: 30px;
    }

    .wrapperFooter{
        gap: 40px;
    }

    .footerNav{
        position: relative;
        z-index: 0;
        display: flex;
        gap: 54px;
    }

    .wrapperfooterSocial{
        display: flex;
        gap: 32px;
    }
}